/* common.css のスタイルを打ち消し */
h2,
h3,
h4,
p,
span,
li {
    line-height: normal;
    letter-spacing: 0;
}


/* Hero Section Styles */
.hero-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 85svh;
    background: url('../img/hero-background.webp') no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}

@media screen and (max-width: 1199px) {
    .hero-container {
        height: auto;
        padding-top: 50.25%;
        /* 16:9 のアスペクト比 (9 ÷ 16 × 100 = 56.25%) */
        background-size: contain;
        background-position: top;
    }
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.0);
    /* Dark overlay for contrast */
    z-index: 1;
}

.hero-content {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    /* hero-content 自体の幅の半分だけ左方向に移動 */
    z-index: 2;
    /* Overlayより上に表示 */
    white-space: noWrap;
}

.hero-content h1 {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: normal;
    font-size: 3rem;
}

@media screen and (max-width: 1267px) {
    .hero-content h1 {
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 929px) {
    .hero-content h1 {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 500px) {
    .hero-content h1 {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 390px) {
    .hero-content h1 {
        font-size: 1.5rem;
    }
}

.catch-container {
    max-width: 1200px;
    /* 最大幅を設定して中央揃え */
    margin: 0 auto;
}

.catch-text-box {
    font-size: 1.2rem;
    line-height: 1.5;
}

.catch-text.str {
    font-weight: 900;
    color: #000;
}

@media screen and (max-width: 768px) {
    .hero-content h1 {
        font-size: clamp(1.2rem, 5vw, 2.5rem);
        /* モバイル用フォントサイズ調整 */
    }

    .catch-text-box {
        font-size: 1rem;
    }
}
/* .catch-textのアニメーション用 */
.text-animate span {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    display: inline-block;
  }
.catch-container {
    /* background-color: #61c0ff; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15svh;
}

@media screen and (max-width: 768px) {
    .catch-container {
        height: 15svh;
    }
}

@media screen and (max-width: 700px) {
    .catch-container {
        height: 10svh;
    }
}

@media screen and (max-width: 375px) {
    .catch-container {
        height: 8svh;
    }
}

.catch-text,
.catch-text.str {
    color: #ff0000;
    letter-spacing: normal;
    line-height: normal;
}

.catch-text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.catch-text {
    font-weight: 900;
    line-height: normal;
    font-size: 2rem;
}

.catch-text.str {
    font-size: 2.2rem;
    line-height: normal;
}

@media screen and (max-width: 1399px) {
    .catch-text {
        font-size: 1.8rem;
    }

    .catch-text.str {
        font-size: 2.4rem;
    }
}

@media screen and (max-width: 991px) {
    .catch-text {
        font-size: 1.4rem;
    }

    .catch-text.str {
        font-size: 2rem;
    }

}

@media screen and (max-width: 768px) {
    .catch-text {
        font-size: 1.4rem;
    }

    .catch-text.str {
        font-size: 2rem;
    }

    .catch-text-box {
        flex-direction: column;
    }
}

@media screen and (max-width: 700px) {
    .catch-text {
        font-size: 1.2rem;
    }

    .catch-text.str {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 582px) {
    .catch-text {
        font-size: 1.2rem;
    }

    .catch-text.str {
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 546px) {
    .catch-text {
        font-size: 1.2rem;
    }

    .catch-text.str {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 485px) {
    .catch-text {
        font-size: 1.2rem;
    }

    .catch-text.str {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 425px) {
    .catch-text {
        font-size: 1.1rem;
    }

    .catch-text.str {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 394px) {
    .catch-text {
        font-size: 1.1rem;
    }

    .catch-text.str {
        font-size: 1.2rem;
    }
}

/* お申込みフォームリンクボタンのスタイル */
.forms-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.form-btn {
    /* color: #024BB6;  コントラストの為の設定値 */
    /* background-color: #E5F7FF; コントラストの為の設定値 */
    background-color: #d9f2ff;
    border-radius: 30px;
    padding: 1rem 5rem;
}

.btn-date-box {
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-weight: 600;
}

.btn-num {
    font-size: 2rem;
}

.btn-month,
.btn-day {
    font-size: 1.4rem;
}

.btn-text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.btn-text {
    font-size: 1.6rem;
}

@media screen and (max-width: 1399px) {
    .forms-box {
        justify-content: space-between;
    }

    .btn-num {
        font-size: 2rem;
    }

    .btn-month,
    .btn-day {
        font-size: 1.4rem;
    }

    .btn-text {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 1199px) {
    .form-btn {
        padding: 1rem 4rem;
    }

    .btn-num {
        font-size: 2rem;
    }

    .btn-month,
    .btn-day {
        font-size: 1.4rem;
    }

    .btn-text {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 991px) {
    .form-btn {
        padding: 1rem 3rem;
    }

    .btn-num {
        font-size: 1.8rem;
    }

    .btn-month,
    .btn-day {
        font-size: 1.2rem;
    }

    .btn-text {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 767px) {
    .form-btn {
        padding: 1rem 1.4rem;
    }

    .btn-num {
        font-size: 1.4rem;
    }

    .btn-month,
    .btn-day {
        font-size: 1rem;
    }

    .btn-text {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 469px) {
    .form-btn {
        padding: 1rem 1rem;
    }

    .btn-num {
        font-size: 1.2rem;
    }

    .btn-month,
    .btn-day {
        font-size: 0.8rem;
    }

    .btn-text {
        font-size: 1rem;
    }
}

@media screen and (max-width: 377px) {
    .form-btn {
        border-radius: 20px;
        padding: 0.5rem 0.8rem;
    }

    .btn-num {
        font-size: 1rem;
    }

    .btn-month,
    .btn-day {
        font-size: 0.6rem;
    }

    .btn-text {
        font-size: 0.8rem;
    }
}


/* 例会情報 */
.info-texts-container h2,
h3 {
    line-height: 45px;
}

.info-heading {
    font-weight: bold;
}

.info-heading-blue {
    font-weight: 600;
    color: #008aff;
}

.info-table {
    width: 100%;
}

.info-table th {
    width: 15%;
    font-weight: normal;
    text-align: left;
    vertical-align: top;
}

.info-table-maps {
    display: flex;
}

.info-table-map {
    width: 400px;
    height: 177.34px;
}

.info-table-img {
    padding: 0;
    width: 400px;
    height: auto;
}

.info-items-container {
    letter-spacing: 5px;
}

.info-heading {
    background-color: #2986ff;
    color: #fff;
    font-size: 1.6rem;
}

.info-heading-blue {
    font-size: 1.6rem;
}

.info-table {
    font-size: 1.6rem;
}

.info-table-maps {
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
}

.info-table-map {
    width: 400px;
    height: 177.34px;
}

.info-table-img {
    width: 400px;
    height: auto;
}

@media screen and (max-width: 1399px) {
    .info-items-container {
        letter-spacing: 5px;
    }

    .info-heading {
        font-size: 1.6rem;
    }

    .info-heading-blue {
        font-size: 1.6rem;
    }

    .info-table {
        font-size: 1.6rem;
    }

    .info-table-maps {
        justify-content: space-between;
    }
}

@media screen and (max-width: 1199px) {
    .info-items-container {
        letter-spacing: 5px;
    }

    .info-heading {
        background-color: rgb(58, 132, 194);
        font-size: 1.6rem;
        color: #fff;
    }

    .info-heading-blue {
        font-size: 1.6rem;
    }

    .info-table {
        font-size: 1.6rem;
    }

    .info-table-map {
        width: 350px;
        height: 177.34px;
    }

    .info-table-img {
        width: 350px;
        height: auto;
    }
}

@media screen and (max-width: 991px) {
    .info-items-container {
        letter-spacing: 3px;
    }

    .info-heading {
        font-size: 1.2rem;
    }

    .info-heading-blue {
        font-size: 1.2rem;
    }

    .info-table {
        font-size: 1.2rem;
    }

    .long-td {
        display: flex;
        flex-direction: column;
    }

    .info-table-maps {
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
    }
}

@media screen and (max-width: 767px) {
    .info-table th {
        width: 20%;
    }

    .info-items-container {
        letter-spacing: 2px;
    }

    .info-heading {
        font-size: 1.2rem;
    }

    .info-heading-blue {
        font-size: 1.2rem;
    }

    .info-table {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 469px) {
    .info-table th {
        width: 20%;
    }

    .info-items-container {
        letter-spacing: 0;
    }

    .info-table {
        font-size: 1rem;
    }

    .long-td-text {
        font-size: 0.6rem;
    }

    .info-table-map {
        width: 250px;
        height: auto;
    }

    .info-table-img {
        width: 250px;
        height: auto;
    }
}

@media screen and (max-width: 377px) {
    .info-table th {
        width: 20%;
    }

    .info-table {
        font-size: 1rem;
    }

    .info-table-map {
        width: 200px;
        height: auto;
    }

    .info-table-img {
        width: 200px;
        height: auto;
    }
}



/* アコーディオン：各アイテム */
.accordion-item {
    border-bottom: 1px solid #333;
    overflow: hidden;
}

.accordion-item:first-of-type {
    border-top: 1px solid #333;
}

/* アコーディオンヘッダー */
.accordion-header {
    background-color: #fff;
    padding: 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    font-weight: normal;
    color: #333;
    border: none;
}

/* アコーディオンヘッダー：アクティブ時 */
.accordion-header.active {
    font-weight: bold;
}

/* .accordion-header:hover {
    background-color: #8de4ff;
} */

/* アイコンのスタイル */
.accordion-icon {
    font-weight: normal;
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

/* 初期状態（＋） */
.accordion-header .accordion-icon::before {
    content: '\002b';
    /* "+" */
    display: inline-block;
}

/* アクティブ時（－） */
/* .accordion-header.active .accordion-icon::before { */
/* content: '\2212'; "-" */
/* } */

/* コンテンツ */
.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: #fff;
    padding: 0 15px;
}

/* アクティブ時のスタイル */
.accordion-content.active {
    max-height: 1000px;
    /* 十分な高さを指定 */
    padding: 15px;
}

.accordion-content div,
/* .accordion-content p, */
.accordion-content span {
    margin: 15px 0;
    line-height: 1.6;
    font-size: 1.2rem;
}

.accordion-content-ul {
    color: #008aff;
}
.accordion-content-li {
    color: #008aff;
    font-size: 1rem;
}

.accordion-content-blue-text {
    color: #008aff;
    font-weight: bold;
}

.accordion-content-table {
    font-size: 1.2rem;
}

.accordion-content-table th {
    width: 97px;
    padding: 5px 0;
}

@media screen and (max-width: 991px) {
    .accordion-content-table th {
        width: 90px;
    }
}

.accordion-content-table td {
    padding: 5px 0;
}

.acordion-content-box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 0;
}

.accordion-content-text-box a {
    color: #008aff;
    text-decoration: underline;
}

.accordion-content-schedule-box p {
    margin: 0;
}

.accordion-header {
    font-size: 1.6rem;
}

.accordion-icon {
    font-size: 1.5rem;
}

.accordion-content div,
.accordion-content p,
.accordion-content span {
    font-size: 1.2rem;
}

.accordion-content-table {
    font-size: 1.2rem;
}

@media screen and (max-width: 1399px) {
    .accordion-header {
        font-size: 1.6rem;
    }

    .accordion-icon {
        font-size: 1.5rem;
    }

    .accordion-content div,
    .accordion-content p,
    .accordion-content span {
        font-size: 1.2rem;
    }

    .accordion-content-table {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1199px) {
    .accordion-header {
        font-size: 1.5rem;
    }

    .accordion-icon {
        font-size: 1.4rem;
    }

    .accordion-content div,
    .accordion-content p,
    .accordion-content span {
        font-size: 1.2rem;
    }

    .accordion-content-table {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 991px) {
    .accordion-header {
        font-size: 1.2rem;
    }

    .accordion-icon {
        font-size: 1.1rem;
    }

    .accordion-content div,
    .accordion-content p,
    .accordion-content span {
        font-size: 1rem;
    }

    .accordion-content-table {
        font-size: 1rem;
    }
}

@media screen and (max-width: 767px) {
    .accordion-header {
        font-size: 1.2rem;
    }

    .accordion-icon {
        font-size: 1.1rem;
    }

    .accordion-content div,
    .accordion-content p,
    .accordion-content span {
        font-size: 1rem;
    }

    .accordion-content-table {
        font-size: 1rem;
    }
}

@media screen and (max-width: 469px) {
    .accordion-header {
        font-size: 1rem;
    }

    .accordion-icon {
        font-size: 1rem;
    }

    .accordion-content div,
    .accordion-content p,
    .accordion-content span {
        margin: 0;
        font-size: 1rem;
    }

    .accordion-content-table {
        font-size: 1rem;
    }

    .accordion-content-table th {
        width: 25%;
        padding: 5px 0;
    }
}

@media screen and (max-width: 377px) {
    .accordion-header {
        font-size: 1rem;
    }

    .accordion-icon {
        font-size: 1rem;
    }

    .accordion-content div,
    .accordion-content p,
    .accordion-content span {
        font-size: 1rem;
    }

    .accordion-content-table {
        font-size: 1rem;
    }
}

.accordion-content-text-box {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 469px) {

    .accordion-content .accordion-content-form-link-text,
    .accordion-content .accordion-content-schedule {
        font-size: 0.8rem;
    }
}